.venv
credentials.json
img_dedos_teste/
bin/
/.venv311-32
main2.py
main3.py
Senha.dll
__pycache__/senha_crypto.cpython-311.pyc
check_dll_arch.py
import_data.py
reset_database.py
import_data.py
senha_crypto.py
import_data.py
reset_database.py
